.keyboard {
  background-color: rgb(170, 230, 92);
  border-radius: 5px;
  border: 1px solid black;
  padding: 7px;
  width: 900px;
  margin: auto;
}

.message {
  margin: auto;
  padding: 15px;
  text-align: center;
  font-size: large;
}

.keyboard  div {
  display: flex;
  justify-content: stretch;
}

.selected, button:active {
  background-color: aqua;
  outline: none;
  border-radius: 10px;
  transition: border-radius 0.2s linear;
}

button {
  background-color: rgb(39, 70, 70);
  color: white;
  font-weight: bold;
  margin: 2px;
  font-size: small;
  border: 1px solid gray;
  height: 40px;
  min-width: 40px;
  border-radius: 5px;
  flex-grow: 1;
}

button sup {
  display: block;
  margin-right: 10px;
}

button:hover {
  background-color: aqua;
}

textarea {
  display: block;
  width: 100%;
  height: 150px;
  box-sizing: border-box;
}

.en .key-32 {
  flex-grow: 17;
}


.pt .key-32 {
  flex-grow: 23;
}

.key-13 {
  flex-grow: 3;
}